* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

input,
button {
    border: none;
    outline: 0.2rem solid transparent;
    padding: 1rem 1.2rem;
}

body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: hsl(180, 25%, 25%);
}

.container {
    width: 100%;
    height: 100%;
    padding: 2% 5%;
}

form {
    min-height: 20vh;
    padding-block: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: hsl(180, 25%, 38%);

}

form>#urlInput {
    width: 70%;
}

form>button {
    background-color: hsl(180deg 8.25% 17.55%);
    color: hsl(180, 35%, 95%);
    cursor: pointer;
}

form>button:hover {
    background-color: hsl(180deg 8.25% 24.55%);
}
form>button:disabled{
    cursor: not-allowed;
    background-color: hsl(180deg 8.25% 37.55%);
}